@import '../colors';

.container{
    position:relative;
    margin:0 1rem 0 1rem;
}

.container:first-child{
    margin-left:2rem;
}

.name{
    color:$local_blue;
    cursor: pointer;
    transition: color 500ms;
    font-weight: bold;
}

.children{
    position: absolute;
    left:1rem;
    display:flex;
    flex-direction: column;
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 500ms;
}

.container:hover .name{
    color:lighten($local_blue,25%);
    transition: color 500ms;
}

.container:hover .children{
    opacity:1;
    transition: all 500ms;
    max-height: 15rem;
}