@import '../../colors';

.container{
    border:none;
    background-color: $local_green;
    color:white;
    cursor:pointer;
    padding:.5rem 1rem .5rem 1rem;
    outline: none;
    transition:background-color 500ms;
}


.container:hover{
    background-color: darken($local_green, 10%);
    transition:background-color 500ms;
}