@import '../colors';

.container{
    background-color: $local_blue;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:25rem;
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    box-shadow: 15px 17px 10px -5px rgba(0, 0, 0, 0.4);
    padding-bottom:1.5rem;
    form{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .register{
        margin-top:.5rem;
        color:white;
        a{
            color: $local_yellow;
            transition: color 500ms;
        }
        a:hover{
            color: darken($local_yellow, 15%);
            transition: color 500ms;
        }
    }
}